<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO WORLD</title>
</head>
<body>
<h1>Welocome to the Django website</h1>

All my Jobs

{%for job in jobs.all %}
<h1>{{job.summary}}</h1>
{% endfor %}

</body>
</html>